
<aside class="mat-typography">
    <mat-toolbar color="primary">
      <nav>
          <span><mat-icon class="white-text" inline="true">notifications_active</mat-icon>BuscaDOU</span>
      </nav>
    </mat-toolbar>
</aside>


<header class="mat-typography">
    <h1 data="Seja notificado quando">Seja notificado quando termos de seu interesse aparecerem no Diário Oficial da União</h1>
    <h3>Cadastre os termos de seu interesse e receba um email quando eles aparecerem no DOU</h3>
</header>


<main class="container mat-typography" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
  <div fxFlex="20%" fxHide.xs>
  </div>
  <div fxFlex="60%">


    <form class="search-form">
      <mat-form-field class="form-full-width" appearance="outline">
        <mat-label>Termo de Busca</mat-label>
        <input matInput placeholder="Douglas Adams" #termoInput>
        <mat-hint align="start" *ngIf="termoInput.value" >Você será notificado(a) quando a string <strong>{{termoInput.value}}</strong> for encontrada no DOU</mat-hint>
      </mat-form-field>
    
      <mat-form-field class="form-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>

      <button mat-raised-button color="primary">Cadastrar!</button>
    </form>


  </div>
  <div fxFlex="20%" fxHide.xs>
  </div>
</main>


<footer class="mat-typography footer">
</footer>
