<header class="mat-typography">
  <h1 fxShow fxHide.xs>Seja notificado quando termos de seu interesse aparecerem no Diário Oficial da União</h1>
  <h2 fxHide fxShow.xs>Seja notificado quando termos de seu interesse aparecerem no Diário Oficial da União</h2>
  <h3>Cadastre os termos de seu interesse e receba um email quando eles aparecerem no DOU</h3>
</header>

<main class="container mat-typography" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
  <div fxFlex="20%" fxHide.xs></div>

  <div fxFlex="60%">
    <form [formGroup]="keywordForm" (ngSubmit)="addKeyword()">

      <mat-form-field class="form-full-width" appearance="outline">
        <mat-label>Termo de Busca</mat-label>
        <input matInput placeholder="Douglas Adams" formControlName="keyword">

        <mat-hint align="start" *ngIf="keywordForm.get('keyword').value && keywordForm.get('keyword').valid">
          Você será notificado(a) quando
          <strong>{{keywordForm.get('keyword').value}}</strong> for encontrado no DOU
        </mat-hint>

        <mat-error *ngIf="keywordForm.controls.keyword.invalid && keywordForm.controls.keyword.errors.required">
          Campo obrigatório
        </mat-error>
        <mat-error *ngIf="keywordForm.controls.keyword.invalid && keywordForm.controls.keyword.errors.minlength">
          Digite ao menos 5 caracteres
        </mat-error>
        <mat-error *ngIf="keywordForm.controls.keyword.invalid && keywordForm.controls.keyword.errors.maxlength">
          O tamanho máximo permitido é de 64 caracteres
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">

        <mat-error *ngIf="keywordForm.controls.email.invalid && keywordForm.controls.email.errors.required">
          Campo obrigatório
        </mat-error>
        <mat-error *ngIf="keywordForm.controls.email.invalid && keywordForm.controls.email.errors.email">
          Digite um email válido
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="keywordForm.invalid">Cadastrar!</button>
    </form>

  </div>

  <div fxFlex="20%" fxHide.xs></div>
</main>